*{
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
}

body{display: flex;
    flex-direction: column;
    height: 400px;}


header{
    flex: 0.5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

main{
flex:1;
padding-left: 50px;
padding-right: 50px;
display: flex;
flex-direction: column;
}

footer{
    flex: 1;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.inputx{width: 500px;}