<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="footera">
            <h1>Friendships</h1>
        </div>
        <div class="footerb">
        </div>
    </header>
    <main>
        <div class="maina">
            <div class="mina1">
                <table class="table table-striped table-hover" id="upborder2">
                    <thead>
                        <tr  class="table-secondary upborder">
                            <th class="text-center upborder" id="x1">Title</th>
                            <th class="text-center upborder" id="x1">Friend</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in  users_and_friends %}
                            {% for userx in  user.friends %}
                                <tr onmouseover="shadow(this)" onmouseout="unshadow(this)">
                                    <td class="text-center upborder" id="x1">{{user.first_name}} {{user.last_name}}</td> <!--We could also use the syntaxis i.id, i.first_name-->
                                    <td class="text-center upborder" id="x1">{{userx.first_name}} {{userx.last_name}}</td>
                                </tr>
                            {%endfor%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mainb">
            <form class="form1" action="{{ url_for('add_friendships_users') }}" method="POST">
                <h1>Add user</h1>
                <div class="form1a">
                    <input type="hidden" name="which_form" value="add_user">
                    <label class="labelx" for="first_name">First Name:</label>
                    <input  type="text" name="first_name" id="first_name">
                </div>
                <div class="form1c">
                    <label class="labelx" for="last_name">Last Name:</label>
                    <input  type="text" name="last_name" id="last_name">
                </div>
                <div class="form1b">
                    <input class='btnx' type="submit" value="Add">
                </div>
            </form> 
            <form class="form2" action="{{ url_for('add_friendships_users') }}" method="POST">
                <h1>Create Friendship</h1>
                <div class="form2a">
                    <input type="hidden" name="which_form" value="add_friendship">
                    <label class="labelx" for="user_id">User:</label>
                    <select class="optionx" name="user_id" id="user_id">
                        <option class="optionx" value="" selected></option>
                        {% for userf in usersf %}
                        <option class="optionx" value={{userf.id}}>{{userf.first_name}} {{userf.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form2b">
                    <label class="labelx" for="friend_id">Friend:</label>
                    <select class="optionx" name="friend_id" id="friend_id">
                        <option class="optionx" value="" selected></option>
                        {% for usert in usersf %}
                        <option class="optionx" value={{usert.id}}>{{usert.first_name}} {{usert.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form2c">
                    <input class='btnx' type="submit" value="Add U">
                </div>
            </form> 
        </div>
    </main>
    <footer>
    </footer>
    {% if  %}
    {% endif %}
</body>
</html>