*{
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
}

body{display: flex;
    flex-direction: column;
    height: 700px;}

header{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header1{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;

}
.form1a{flex: 0.3;
display: flex;
justify-content: space-between;}


.btnx{
    box-shadow: 5PX 5PX 0PX black; 
    width: 100px;
    margin-bottom: 5%;
    }  

/*-------------------------------------------------------*/

main{
    flex:3;
    display: flex;
    margin-top: 1%;
    flex-direction: column;
}

.main_1{
    flex: 0.5;
    display: flex;
    margin-left: 2%;
}

.main_2{
    flex:2;    
    margin-left: 3%;
    margin-right: 10%;
}

p{
    border-bottom: 2px solid black;
}
