<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Link for special fonts in google-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--Link for special fonts in google-->
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet"><!--Link for special fonts in google-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}"> <!--Link to style.css with jinja-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"><!--Link for boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script><!--script for boostrap-->
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!--Script for JS file if exists-->
    <title>Recipes index</title>
</head>
<body>
    <header>
        <div class="box_header1">
            <h1 >Welcome, {{session['first_name']}}!</h1>
        </div>
        <div class="box_header2">
            <h2>{{session["first_name"]}} {{session["last_name"]}}</h2>
            <form class="form" action="{{url_for('dashboard')}}" method="POST">
                <input id="btxn1" class='btnx' type="submit" value="Dashboard">
            </form>
            <form class="form" action="{{ url_for('log_out') }}" method="POST">
                <input class='btnx' type="submit" value="logout">
            </form>
        </div>
    </header>
    <main>
        <div class="box1">
            <h2>Provo Canyon on Octuber 18 2022</h2>

        </div>
        <div class="box2">
            
        <table>
            <tbody>
                    <tr>
                        <td class="text-center column1"><h4>What happened:</h4></td>
                        <td class="text-center column2" ><h4>Skeptics:</h4></td>
                    </tr>
                    <tr>
                        <td class="text-center column1">{{sighting.description}}</td>
                        <td class="text-center column2">{{sighting.under_30_min}}
                            {%for i in sighting.users%}
                            <p>{{i.first_name}} {{i.last_name}} </p>
                            {% endfor%}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center column1"># of Sasquatches:{{sighting.number_of_sesquatches}}</td>
                        <td class="text-center column2">
                            {% if sighting.validationx=="Yes" %}
                            <form class="form" action="{{ url_for('remove_skeptical') }}" method="POST">
                                <input type="hidden" name="user_id" value="{{session['id']}}">
                                <input type="hidden" name="sighting_id" value="{{sighting.id}}">
                                <input class='btnx' type="submit" value="I'm skeptical">
                            </form>
                            {%else%}
                            <form class="form" action="{{ url_for('add_skeptical') }}" method="POST">
                                <input type="hidden" name="user_id" value="{{session['id']}}">
                                <input type="hidden" name="sighting_id" value="{{sighting.id}}">
                                <input class='btnx' type="submit" value="Belive it">
                            </form>
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center column1">Reported By: {{sighting.owner_sighting.first_name}}  {{sighting.owner_sighting.last_name}}</td>
                        <td class="text-center column2"></td>
                    </tr>
            </tbody>
        </table>
        </div>
    </main>
    <footer>
            
    </footer>

</body>
</html>