<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1 style="background-color:{{colorn}};color:{{colorn2}}" >***Checkerboard***</h1>
    </header>
    <main>
        {%for i in range (columns)%}
            {%if list_rows[i]==0%}
                <div class="row">
                    {%for x in range (rows)%}
                    {%if list_columns[x]==0%}
                    <div style="background-color:{{colorn}};" class="cola" onmouseover="invertcolor(this)" onmouseout="revertcolor(this)"></div>
                    {%else:%}
                    <div style="background-color:{{colorn2}};" class="colb" onmouseover="invertcolor(this)" onmouseout="revertcolor(this)"></div>
                    {%endif%}
                    {%endfor%}
                </div>
            {%else:%}
                <div class="row">
                    {%for x in range (rows)%}
                    {%if list_columns[x]==0%}
                    <div style="background-color:{{colorn2}};" class="colb" onmouseover="invertcolor(this)" onmouseout="revertcolor(this)"></div>
                    {%else:%}
                    <div style="background-color:{{colorn}};" class="cola" onmouseover="invertcolor(this)" onmouseout="revertcolor(this)"></div>
                    {%endif%}
                    {%endfor%}
                </div>
            {%endif%}
        {%endfor%}
    </main>
</body>
</html>