<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>New Author</title>
</head>
<body>
    <header>

    </header>
        <main>
            <div class="block1">
                <h1>New Author</h1>
                <form class="form1" action="{{ url_for('add_author') }}" method="POST">
                    <div class="div1">
                        <label  for="name">Name:</label>
                        <input  type="text" name="name" id="name">
                    </div>
                    <div>
                        <input class='btnx' type="submit" value="Create">
                    </div>
                </form> 
            </div>
            <div class="block2">
                <h1>All Authors</h1>
                <div class="divsdojos">
                    {% for author in authors %}
                    <a href="/authors/{{author.id}}">{{author.name}}</a>
                    {% endfor %}
                </div>
                <div><a href="{{ url_for('list_books') }}">Add books</a></div>
            </div>
        </main>
        <footer>

        </footer>

</body>
</html>