*{
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
}

body{display: flex;
    flex-direction: column;
}

main{display: flex;
height: 500px;
width: 900px;
margin: 0 auto;}

.block1{
    margin-top: 20px;
    margin-left: 20px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;}

.div1,.div2,.div3{flex: 1;}

.block2{
    margin-top: 20px;
    margin-right: 20px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnx{
        box-shadow: 5PX 5PX 0PX black; 
        width: 100px;
        margin-left: 100px;
    }

.form1{height: 130px;
display: flex;
flex-direction: column;
justify-content: space-evenly;}

.divsdojos{
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;

}

footer{margin-left: 20px;
    display: flex;
    width: 900px;
    margin: 0 auto;}

.block1b{
    margin-top: 20px;
    margin-left: 20px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;}

.block2b{
    margin-top: 20px;
    margin-right: 20px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
