<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Form_test</title>
</head>
<body>
    <h1>Form with hidden inputs and sessions</h1>
    <main>
        <div class="box1">
            <form action='/users' method='post'>
                <input type="hidden" name="which_form" value="register">
                <div class="mb-3">
                    <label class="form-label" for='name' >Name:</label>
                    <input id='name' type='text' name='name'>
                </div>
                <div class="mb-3">
                    <label for='email'>Email:</label>
                    <input id='email' type='email' name='email'>
                </div>
                <div class="mb-3">
                    <label for='password'>Password:</label>
                    <input id='password' type='password' name='password'>
                </div>
                <div class="mb-3">
                    <input type='submit' value='create user'>
                </div>
            </form>
        </div>
        <div class="box2">
            <form action='/users' method='post'>
                <input type="hidden" name="which_form" value="login">
                <div class="mb-3">
                    <label for='email'>Email:</label>
                    <input type='email' name='email'>
                </div>
                <div class="mb-3">
                    <label for='password'>Password:</label>
                    <input id='password' type='password' name='password'>
                </div>
                <div class="mb-3">
                    <input type='submit' value='Log in'>
                </div>
            </form>
        </div>
    </main>
    <a href="{{ url_for('added_users') }}">Existing users</a>
</body>
</html>