*{
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
}


body{display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;}


header{
}

main{
    flex:4;
    display: flex;
    margin: 2%;
}

footer{
    flex: 1;
    margin: 2%;
}

input{width: 300px;}

label{width:200px}

/*Classes and blocks inside*/

.box1{
    flex:1;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.box2{
    flex:1;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btndiv{
    display: flex;
    justify-content: flex-start;
}

.btnx{
    box-shadow: 5PX 5PX 0PX black; 
    width: 100px;
    }  

/*Special configs*/
#title1{
    color: blueviolet;
    font-weight: bolder;
    }

.div_input{
    display: flex;
    flex-direction: column;
}

.title1{display: flex;
    justify-content: center;}

.title2{display: flex;
    justify-content: center;}