*{
    padding: 0;
    margin: 0;
    font-family: 'Preahvihear', sans-serif;
}

main{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;

}

.box2, form{
    display: inline-block
}
